

































/* *{
    background-color: rgb(126, 133, 139);
}


.intro{
    color: white;
}

.tableheading{
    color: red;
}

.submitbutton{
    background-color: green;
}

.forcenter{
    text-align: center;
} */

